{% extends 'base.html' %} {% block main %}
<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col s12">
            <div class="flex">
                <div class=" grey lighten-3 bdr pd10 mr10">Photo</div>
                <div class=" grey lighten-3 bdr pdl20 flex-1">
                    <form action="" method="post">
                        <input type="text">
                    </form>
                </div>
            </div>
            <br>
            <br>
            <div>
                <div class="row">
                    {% for city in cities %}
                    <div class="col s12">
                        <div class="row grey lighten-3 bdr pd20 flex items-center ">
                            <div class="col s12 m6 " style="height: 200px;">
                                <img class="img-full-size bdr" src="/static/images/img.jpg">
                            </div>
                            <div class="col s12 m6 full-h" style="height: 100%;">
                                <div class=" flex flex-column space-between full-h ">
                                    <div class="">
                                        <h3 class="font24">{{city.name}}</h3>
                                        <p>Iuire little markup to use effectively.</p>
                                    </div>
                                    <div class="card-action">
                                        <a class="btn green-text white" href="{% url 'city_detail' city.id %}">Voir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div> {% endblock %}