{% extends 'base.html' %}
<!--  -->
{% block style %}
<link rel="stylesheet" href="/static/css/city.css">
<!--  -->
{% endblock %}
<!--  -->
{% block main %}
<div class="container">

    <h2 class="font30">ville de {{ ville.name }}</h2>
    <div class="bdr grey lighten-3 pd20 main-header z-depth-1">
        <div class="row full-h">
            <div class="col s12 m4 full-h">
                <img class="full-h" src="/static/images/sun.png" alt="">
            </div>
            <div class="col s12 m8">
                <h3 class="font24">{{ ville.name }}</h3>
                {% for moment in moments %}
                    {% if moment.date_actu|date:'d m Y' == actu|date:'d m Y' %}
                        <p>{{moment.cloud_description}}</p>
                        <h3 class="bold">{{moment.temperature}}°C</h3>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col s12 m6">
                <h3 class="font24">Moments passés</h3>
                <div class="collection">
                    {% for moment in moments %}
                        {% if moment.date_actu|date:'d m Y' < actu|date:'d m Y' %}
                            <div class="collection-item">
                                <div class="row">
                                    <div class="col s4">
                                        <h4 class="bold grey-text">{{moment.temperature}}°C</h4>
                                    </div>
                                    <div class="col s8">
                                        <p>{{moment.datetime}}</p>
                                        <p>{{moment.cloud_description}}</p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col s12 m6">
                <h3 class="font24">Moments futures</h3>
                <div class="collection">
                    {% for moment in moments %}
                        {% if moment.date_actu|date:'d m Y' > actu|date:'d m Y' %}
                            <div class="collection-item">
                                <div class="row">
                                    <div class="col s4">
                                        <h4 class="bold green-text">{{moment.temperature}}°C</h4>
                                    </div>
                                    <div class="col s8">
                                        <p>{{moment.datetime}}</p>
                                        <p>{{moment.cloud_description}}</p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!--  -->
{% endblock %}