{% extends 'base.html' %}
<!--  -->
{% block style %}
<link rel="stylesheet" href="/static/css/home.css">
<!--  -->
{% endblock %}
<!--  -->
{% block main %}
<div class="pd20">
    <div class="row">
        <div class="col s12 m6 l8">
            <div class="flex">
                <div class=" grey lighten-3 bdr pd10 mr10">Photo</div>
                <div class=" grey lighten-3 bdr pdl20 flex-1">
                    <form action="" method="post">
                        <input type="text" placeholder="Recherche...">
                    </form>
                </div>
            </div>
            <br>
            <div>
                <div>
                    <div class="grey lighten-3 bdr pd20">
                        <h2 class="m0 font24">villes</h2>
                        <div class="flex space-between items-center">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt placeat minima quo.</p>
                            <div>
                                <a href="{% url 'cities' %}" class="btn transparent green-text z-depth-0">Tout voir</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="swiper">
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper">
                                    <!-- Slides -->
                                    {% for moment in moments %}
                                    <div class="swiper-slide">
                                        <div class="card ">
                                            <div class="card-image">
                                                <a href="{% url 'city_detail' moment.city %}">
                                                    <img src="{{moment.city.img.url}}" style="object-fit: cover; height: 200px">
                                                    <span class="card-title" style="color:black;">{{ moment.city }}</span>
                                                </a>
                                            </div>
                                            <div class="card-content">
                                                <p>{{actu}}</p>
                                                <h6>{{moment.temperature}}°C</h6>
                                                <p>{{moment.cloud_description}}</p>
                                            </div>
                                            <div class="card-action">
                                                <a class="btn transparent green-text" href="{% url 'city_detail' moment.city %}">Voir</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <!-- If we need pagination -->
                                <div class="swiper-pagination"></div>

                                <!-- If we need navigation buttons -->
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>

                                <!-- If we need scrollbar -->
                                <!-- 
                                <div class="swiper-scrollbar"></div> -->
                            </div>
                            <script>
                                const swiper = new Swiper('.swiper', {
                                    // Optional parameters
                                    direction: 'horizontal',
                                    loop: true,
                                    // Responsive breakpoints
                                    breakpoints: {
                                        // when window width is >= 320px
                                        320: {
                                            slidesPerView: 1,
                                            spaceBetween: 10
                                        },
                                        // when window width is >= 480px
                                        480: {
                                            slidesPerView: 2,
                                            spaceBetween: 14
                                        },
                                        // when window width is >= 640px
                                        640: {
                                            slidesPerView: 3,
                                            spaceBetween: 16
                                        }
                                    },
                                    // If we need pagination
                                    pagination: {
                                        el: '.swiper-pagination',
                                    },

                                    // Navigation arrows
                                    navigation: {
                                        nextEl: '.swiper-button-next',
                                        prevEl: '.swiper-button-prev',
                                    },

                                    // And if we need scrollbar
                                    scrollbar: {
                                        el: '.swiper-scrollbar',
                                    },
                                });
                            </script>
                        </div>
                    </div>
                </div>
                <div>
                    Statistiques
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4 bdr grey lighten-3">
            <div class="pd20">
                <h2 class="m0 font24">Annonces</h2>
                {% for annonce in annonces %}
                <div>
                    <h5>{{annonce.title}}</h5>
                    <img src="{{annonce.img.url}}" style="width: 100%;">
                    <p>{{annonce.description | truncatechars:50 }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div> {% endblock %}