{% extends 'base.html' %} {% block main %}
<div class="container">
    <h1 class="font30">Annonces</h1>
    <div class="row">
        <div class="col s12">
            <div class="flex">
                <div class=" grey lighten-3 bdr pd10 mr10">Photo</div>
                <div class=" grey lighten-3 bdr pdl20 flex-1">
                    <form action="" method="post">
                        <input type="text">
                    </form>
                </div>
            </div>
            <br>
            <br>
            <div>
                <div class="row">
                    {% for news in annonces %}
                        <div class="col s12">
                            <div class="row grey lighten-3 bdr pd20 flex items-center ">
                                <div class="col s12 m4 " style="height: 240px;">
                                    <img class="img-full-size bdr" src="{{news.img.url}}">
                                </div>
                                <div class="col s12 m8 full-h" style="height: 100%;">
                                    <div class=" flex flex-column space-between full-h ">
                                        <div class="">
                                            <h3 class="font24">{{news.title}}</h3>
                                            <p>{{news.description}}</p>
                                        </div>
                                        <div class="card-action">
                                            <a class="btn green-text white" href="">Lire</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div> {% endblock %}